include LICENSE.md
include README.md
include package.json
include miner/static/main.js
include miner/static/main.css
include miner/static/icon.png
include miner/static/execution-timings-box.png
include miner/static/execution-timings-menu.png
include miner/static/description.yaml
include miner/static/README.md
recursive-include jupyter-config *.json